
/*****************Logo****************/

img {
  width: 10px;
}
/********Debut Headre**********/
#header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: white;
  box-shadow: 0 0 12px
}
/*******************Fin Header*****************/
span {
  border-color: rgb(204, 204, 204);
  text-decoration: none;
}


html body {
background: url("img (copie)/bg2.png")
}

h1 {
  font-size: 10px;
}



.img {
  display: flex;
  flex-wrap: wrap;
}
/*************Ajout de map********************/

map iframe {
  width: 100%;
}

/************Article avec bordure******************/

article {
  font-size:20px;
  background-color:#fff;
  width: 35em;
  margin: 2.375em auto;
  padding: 4em;
  border: .25em solid #191919;
  color:black;
}

h1 {
  font-size: 2em;
  margin: 0 0 .5em;
}
/******************Paragraph dans blog***************/
p {
  font-size: 1em;
  margin: 0;
  line-height: 1.618em;
}
/****************Css Formulaire contact************/
#success_message{ display: none;}
